# Ignore Emacs auto
auto/

# Don't include ALL of the octicons...
imgs/octicons/*

# ... except these specific ones
!imgs/octicons/mark-github.svg
!imgs/octicons/code.svg
!imgs/octicons/chevron-down.svg
!imgs/octicons/repo.svg
!imgs/octicons/gear.svg
